{% extends "base.html" %}

{% block head %}
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>User Login</title>
{% endblock %}

{% block body %}
<div class="registration-container">
    <div class="form-container">
        <div class="register-card">
            <div class="form-group">
                <h1>Employee Signin</h1>
            </div>
            <form action="{{ url_for('logins.index_user') }}" method="POST">
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email address" required>
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <a href="#" style="text-align:right;display:block;">Forgot password?</a>
                </div>

                {% if error %}
                    <p style="color: red;">{{ error }}</p>
                {% endif %}

                <button type="submit" class="register-button">Sign in</button>
            </form>
            <div class="footer-links">
                <p>Don’t have an account? <a href="{{ url_for('registers.register_user') }}">Sign up</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
