{% extends 'base.html' %}

{% block body %}
<div class="content available-jobs-section">
    <h2 class="section-title">Available Jobs</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="notification {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<div class="job-list-container">
    {% if jobs %}
        {% for job in jobs %}
            <div class="job-card">
                <div class="job-header">
                    <img src="{{ url_for('static', filename='images/company_logo_placeholder.svg') }}" alt="Company Logo" class="company-logo">
                    <div class="job-title">{{ job.job_title }}</div>
                </div>
                <div class="job-details">
                    <p><strong>Company:</strong>&nbsp;{{ job.company_name }}</p>
                    <p><strong>Location:</strong>&nbsp;{{ job.city }}, {{ job.country }}</p>
                    <p><strong>Salary:</strong>&nbsp;${{ "{:,.2f}".format(job.salary) }}</p>
                    <p><strong>Date Posted:</strong>&nbsp;{{ job.date_posted | format_date }}</p>
                </div>
                <a href="{{ url_for('user_views.view_job_details', job_id=job.job_id) }}" class="view-details-button">View Details</a>
            </div>
        {% endfor %}
    {% else %}
        <p class="no-jobs-message">No jobs are currently available. Please check back later.</p>
    {% endif %}
</div>
{% endblock %}
