<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap">
    {% block head %}
    {% endblock %}
</head>

<body>
    <header class="header">
        <div class="logo">JobTrunk</div>
        <nav class="nav-links">
            <nav>
{#            <a href="{{ url_for('landing.landing') }}">Home</a>#}
{#            <a href="{{ url_for('user_views.dashboard') }}">User Dashboard</a>#}
{#            <a href="{{ url_for('employer_views.dashboard') }}">Employer Dashboard</a>#}
{#            <a href="{{ url_for('admin_views.dashboard') }}">Admin Dashboard</a>#}
            {% if g.user %}

                {# Header links if USER logged in #}
                {% if g.user_type == 'user' %}
                    <a href="{{ url_for('user_views.view_all_jobs') }}" class="dashboard-button">View All Jobs</a>
                    <a href="{{ url_for('user_views.saved_jobs') }}" class="dashboard-button">Saved Jobs</a>
                    {#<a href="{{ url_for('user_views.job_applications') }}" class="dashboard-button">My Applications</a>#}
                    {#<a href="{{ url_for('user_views.network') }}">My Network</a>#}
                    {#<a href="{{ url_for('user_views.resources') }}">Resources</a>#}
                    <a href="{{ url_for('user_views.dashboard') }}" class="dashboard-button">Dashboard</a>
                    <a href="{{ url_for('user_views.logout') }}" class="dashboard-button logout">Logout</a>

                {# Header links if EMPLOYER logged in #}
                {% elif g.user_type == 'employer' %}
                    <a href="{{ url_for('employer_views.view_jobs') }}" class="btn">Manage Job Postings</a>
                    <a href="{{ url_for('employer_views.dashboard') }}">Dashboard</a>

                {# Header links if ADMIN logged in #}
                {% elif g.user_type == 'admin' %}
                    <a href="{{ url_for('admin_views.dashboard') }}">Dashboard</a>
                {% endif %}

                {# Profile icon #}
                <a href="{{ url_for('user_views.view_profile') }}" class="profile-link">
                    <img src="{{ g.user.profile_picture_url or url_for('static', filename='images/default_profile.png') }}" alt="Profile Picture" class="nav-profile-picture">
                </a>
            {% else %}
                <a href="{{ url_for('landing.landing') }}" class="login-link">Login</a>
            {% endif %}
        </nav>
    </header>

    <div class="content">
        {% block body %}
        {% endblock %}
    </div>

    {% block footer %}
    <footer class="footer">
        <p>&copy; 2024 JobTrunk. All rights reserved. |
            <a href="#">Privacy Policy</a> |
            <a href="#">Terms & Conditions</a> |
            <a href="#">About JobTrunk</a>
        </p>
    </footer>
    {% endblock %}
</body>

</html>
