{% extends 'base.html' %}

{% block head %}
    <title>Welcome to [Project Name]</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing_style.css') }}">
{% endblock %}

{% block body %}
<div class="landing-container">
    <h1>Select Login Type</h1>
    <a href="{{ url_for('user_views.login_user') }}">User Login</a>
    <a href="{{ url_for('employer_views.login_employer') }}">Employer Login</a>
    <a href="{{ url_for('admin_views.login_admin') }}">Admin Login</a>
</div>
{% endblock %}
