{% extends "base.html" %}

{% block head %}
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Reset Password</title>
{% endblock %}

{% block body %}
<div class="login-container">
    <h2>Forgot your password?</h2>
    <p>We'll send a link to reset your password to your registered email address.</p>
    <form action="{{ url_for('logins.reset_password') }}" method="POST">
        <input type="email" name="email" placeholder="Email address" required>
        <button type="submit" class="register-button">Send Link</button>
    </form>
    {% if success %}
        <p style="color: green;">{{ success }}</p>
    {% endif %}
</div>
{% endblock %}
