{% extends "base.html" %}

{% block head %}
    <title>Edit Job Posting</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_job.css') }}">
    <script src="https://cdn.tiny.cloud/1/ow07p4zhtnk3s4yh3m47nl9hrm4jn3n5ehjf5prbuv3m0jpa/tinymce/6/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#job_description',
            menubar: false,
            plugins: 'lists link',
            toolbar: 'bold italic underline | bullist numlist | link',
            branding: false,
            height: 300
        });
        tinymce.init({
            selector: '#job_requirements',
            menubar: false,
            plugins: 'lists link',
            toolbar: 'bold italic underline | bullist numlist | link',
            branding: false,
            height: 150
        });
    </script>
{% endblock %}

{% block body %}
    <div id="notification-container" style="position: fixed; top: 20px; right: 20px; z-index: 1000;"></div>
    <div class="container" style="width: 70%; align-self: center">
        <h2>Edit Job Posting</h2>

        <!-- Edit Job Form -->
        <div class="form-container">
            <form id="edit-job-form" method="POST" onsubmit="showNotification('Changes saved successfully!'); return false;">
                <!-- Job Title -->
                <div class="form-group">
                    <label for="job_title">Job Title<span style="color: red;">*</span>:</label>
                    <input type="text" id="job_title" name="job_title" value="{{ job.job_title }}" required>
                </div>

                <!-- Company Name (Read-Only) -->
                <div class="form-group">
                    <label for="company_name">Company Name:</label>
                    <input type="text" id="company_name" value="{{ job.company_name }}" readonly>
                </div>

                <!-- Job Description with TinyMCE -->
                <div class="form-group">
                    <label for="job_description">Job Description<span style="color: red;">*</span>:</label>
                    <textarea id="job_description" name="description"
                              style="height: 150px">{{ job.description }}</textarea>
                </div>

                <!-- Job Requirements with TinyMCE -->
                <div class="form-group">
                    <label for="job_requirements">Requirements:</label>
                    <textarea id="job_requirements" name="requirements">{{ job.requirements }}</textarea>
                </div>

                <!-- Salary -->
                <div class="form-group">
                    <label for="salary">Salary<span style="color: red;">*</span>:</label>
                    <input type="text" id="salary" name="salary" value="{{ job.salary }}" required>
                </div>

                <!-- Location -->
                <div class="form-group">
                    <label for="location">Location (City, Country)<span style="color: red;">*</span>:</label>
                    <input type="text" id="location" name="city" value="{{ job.city }}, {{ job.country }}" required>
                </div>

                <button type="submit" class="btn">Save Changes</button>
            </form>
        </div>

    <br>
        <hr>

        <!-- Manage Skills and Certifications -->
        <div class="skills-certifications-container">
            <!-- Skills Section -->
            <div class="skills-section">
                <h3>Skills Required</h3>
                <form id="add-skill-form">
                    <input type="text" id="skill-input" placeholder="Add a skill" required>
                    <button type="submit" class="btn">Add Skill</button>
                </form>
                <ul id="skills-list">
                    {% for skill in job.skills %}
                        <li>
                            {{ skill }}
                            <button type="button" class="delete-skill-button" data-skill="{{ skill }}">Delete</button>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        <br>
            <hr>

            <!-- Certifications Section -->
            <div class="certifications-section">
                <h3>Certifications Required</h3>
                <form id="add-certification-form" enctype="multipart/form-data">
                    <input type="text" id="certification-input" placeholder="Add a certification" required>
                    <button type="submit" class="btn">Add Certification</button>
                </form>
                <ul id="certifications-list">
                    {% for certification in job.certifications %}
                        <li>
                            {{ certification }}
                            <button type="button" class="delete-skill-button" data-certification="{{ certification }}">
                                Delete
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    <br>
        <hr>

        <!-- Work History -->
        <div class="work-history-section">
            <h3>Work History Requirements</h3>
            <form id="add-work-history-form" style="display: flex">
                <div class="form-group">
                    <label for="occupation">Occupation:</label>
                    <input type="text" id="occupation" name="occupation" required>
                </div>
                <div class="form-group" style="width: 50%">
                    <label for="duration">Duration (in months):</label>
                    <input type="text" id="duration" name="duration" min="1" required>
                </div>
            </form>
            <button type="submit" class="btn" style="margin-top: 0">Add Work History</button>
            <ul id="work-history-list">
                {% for work in job.work_history %}
                    <li style="margin-top: -7px;">
                        {{ work.occupation }} - {{ work.duration }} months
                        <button type="button" class="delete-skill-button" data-occupation="{{ work.occupation }}"
                                data-duration="{{ work.duration }}" style="margin-top: 10px">Delete
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- Pass configuration variables to JavaScript -->
    <script>
        window.CONFIG = {
            citySuggestionsUrl: "{{ url_for('user_views.city_suggestions') }}",
            certificationSuggestionsUrl: "{{ url_for('user_views.certification_suggestions') }}",
            skillSuggestionsUrl: "{{ url_for('user_views.skill_suggestions') }}",
            occupationSuggestionsUrl: "{{ url_for('user_views.get_occupation_suggestions') }}",
            addJobCertificationUrl: "{{ url_for('employer_views.add_job_certification', job_id=job.job_id) }}",
            deleteJobCertificationUrl: "{{ url_for('employer_views.delete_job_certification', job_id=job.job_id) }}",
            addJobSkillUrl: "{{ url_for('employer_views.add_job_skill', job_id=job.job_id) }}",
            deleteJobSkillUrl: "{{ url_for('employer_views.delete_job_skill', job_id=job.job_id) }}",
            addWorkHistoryUrl: "{{ url_for('employer_views.add_work_history', job_id=job.job_id) }}",
            deleteWorkHistoryUrl: "{{ url_for('employer_views.delete_work_history', job_id=job.job_id) }}",
            editJobUrl: "{{ url_for('employer_views.edit_job', job_id=job.job_id) }}",
            deleteJobUrl: "{{ url_for('employer_views.delete_job', job_id=job.job_id) }}",
            viewJobsUrl: "{{ url_for('employer_views.dashboard') }}"
        };

        function showNotification(message) {
            const notification = document.createElement('div');
            notification.className = 'notification success';
            notification.innerText = message;
            document.getElementById('notification-container').appendChild(notification);
            setTimeout(() => {
                notification.remove();
            }, 3000);
        }
    </script>
    <!-- Include page-specific JavaScript -->
    <script src="{{ url_for('static', filename='js/edit_job.js') }}"></script>
{% endblock %}

