{% extends "base.html" %}

{% block head %}
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Employer Login</title>
{% endblock %}

{% block body %}
<div class="registration-container">
    <div class="form-container">
        <div class="register-card">
            <div class="form-group">
                <h1>Employer Sign in</h1>
            </div>
            <form action="{{ url_for('logins.index_company') }}" method="POST">
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email address" required>
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <a href="#" id="forgot-password-link" style="text-align:right;display:block;">Forgot password?</a>
                </div>

                {% if error %}
                    <p style="color: red;">{{ error }}</p>
                {% endif %}

                <button type="submit" class="register-button">Sign in</button>
            </form>
            <div class="footer-links">
                <p>Don’t have an account? <a href="{{ url_for('registers.register_company') }}">Sign up</a></p>
            </div>
        </div>
    </div>
</div>

<!-- Forgot Password Popup -->
<div id="forgot-password-popup" class="popup">
    <div class="popup-content">
        <h2>Forgot your password?</h2>
        <p>We'll send a link to reset your password to your registered email address.</p>
        <form action="{{ url_for('logins.reset_password') }}" method="POST">
            <input type="email" name="email" placeholder="Email address" required>
            <button type="submit" class="register-button">Send Link</button>
        </form>
    </div>
</div>

<div id="overlay"></div>
{% endblock %}

{% block footer %}
    {{ super() }}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const forgotPasswordLink = document.getElementById('forgot-password-link');
        const forgotPasswordPopup = document.getElementById('forgot-password-popup');
        const overlay = document.getElementById('overlay');

        forgotPasswordLink.addEventListener('click', function(event) {
            event.preventDefault();
            forgotPasswordPopup.style.display = 'block';
            overlay.style.display = 'block';
        });

        overlay.addEventListener('click', function() {
            forgotPasswordPopup.style.display = 'none';
            overlay.style.display = 'none';
        });
    });
</script>

{% endblock %}
