{% extends "base.html" %}

{% block head %}
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Employer Reset Password</title>
{% endblock %}

{% block body %}
<div class="login-container">
    <h2>Reset Your Password</h2>
    <form action="{{ url_for('employer_views.reset_with_token', token=token) }}" method="POST">
        <input type="password" name="new_password" placeholder="New Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm New Password" required>
        <button type="submit" class="register-button">Reset Password</button>
    </form>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</div>
{% endblock %}
