{% extends "base.html" %}

{% block head %}
    <title>Sign in as Admin</title>
{% endblock %}

{% block body %}
<div class="registration-container">
    <div class="form-container">
        <div class="register-card">
            <div class="form-group">
                <h1>Admin Login</h1>
            </div>
            <form action="{{ url_for('admin_views.login_admin') }}" method="POST">
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email address" required>
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <a href="{{ url_for('admin_views.reset_password') }}" style="text-align:right;display:block;">Forgot password?</a>
                </div>

                {% if error %}
                    <p style="color: red;">{{ error }}</p>
                {% endif %}

                <button type="submit" class="register-button">Sign in</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}