div#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

div#nav li {
    float: left;
    border-right: 1px solid #bbb;
}

div#nav li:last-child {
    border-right: none;
}

div#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div#nav li a:hover:not(.active) {
    background-color: #111;
}

div#nav .active {
    background-color: #04AA6D;
}

body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

#nav {
    background-color: #333; /* Adjust as needed */
    overflow: hidden;
    position: fixed; /* Fix the navigation bar at the top */
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays above other content */
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav ul li {
    float: left;
}

#nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav ul li a:hover {
    background-color: #575757;
}

.login-container {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
    position: absolute; /* Use absolute positioning */
    top: 50%; /* Position in the center vertically */
    left: 50%; /* Position in the center horizontally */
    transform: translate(-50%, -50%); /* Center the element */
}
